<!--
    ioBroker.Starline Widget-Set
    version: "0.1.0"
    Copyright 10.2015-2016 instalator <vvvalt@mail.ru>
-->
<link rel="stylesheet" href="widgets/starline/css/style.css" />
<script type="text/javascript" src="widgets/starline/js/starline.js"></script>

<script id="tplStarlineShowInstance"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img src="widgets/starline/img/state.png"></img>'
        data-vis-attrs="oid/id;"
        data-vis-set="starline"
        data-vis-type="val"
		data-vis-beta="true"
        data-vis-name="Show car status">
    <div class="vis-widget <%== this.data.attr('class') %>" style="width:317px; height:237px" id="<%= this.data.attr('wid') %>" >
       <% vis.binds.starline.createWidgetStatus(this.data.wid, this.view, this.data, this.style);%>
	</div>
</script>

<script id="tplStarlineButtonInstance"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img src="widgets/starline/img/btn.png"></img>'
        data-vis-attrs="oid/id;"
        data-vis-set="starline"
        data-vis-type="val"
		data-vis-beta="true"
        data-vis-name="Control car alarm">
    <div class="vis-widget <%== this.data.attr('class') %>" style="width:317px; height:73px" id="<%= this.data.attr('wid') %>" >
       <% vis.binds.starline.createWidgetControl(this.data.wid, this.view, this.data, this.style);%>
	</div>
</script>


